.post {
    width: 385px;
    margin: 0px 25px 40px 25px;
  }
  
  .post-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .post-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .post-cat {
    font-family: "Varela", sans-serif;
    color: #be9659;
    font-size: 17px;
    margin-top: 14px;
    margin-right: 15px;
    line-height: 20px;
    cursor: pointer;
  }
  
  .post-title {
    margin-top: 14px;
    font-family: "Lora", serif;
    font-size: 24px;
    cursor: pointer;
  }
  
  .post-date {
    margin-top: 14px;
    font-size: 16px;
    font-family: "Josefin Sans", sans-ser;
    font-style: italic;
    color: #999;
  }
  
  .post-desc {
    margin-top: 13px;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
  }
  